@page
@model Product.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<p> List of Products:</p>
@foreach (var b in Model.Products)
{
    <p>@Html.DisplayFor(modelItem => b.ProductsId) @Html.DisplayFor(ModelItem => b.Name)</p>
}